.date{
    
    text-align: center;
    background-color: rgb(17, 17, 17);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 60px;
    padding: 5px;
   color: white;
   font-size: smaller;
   border-radius: 10px;

}